.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 12px;
  color: white;
  padding-right: 2px;
}
.react-switch-bg {
  background-color : var(--bs-primary) !important;
}

