// font family
@font-face {
  font-family: "Inter";
  src: url("../../../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../../../fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf");
}
