.list-content {
  &.scroll-box-list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: auto !important;
  }

  &.scroll-box-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  .split-view {
    // overflow-y: auto;
    // // height: calc(100% - 60px);

    .selected {
      background-color: var(--bs-bg-soft-grey);
    }
    .split-mail-item {
      display: flex;
      flex-direction: column;
      position: relative;
      border-bottom: 1px solid var(--bs-bg-soft-grey);
      .header-split {
        .unread {
          font-weight: 700;
          // color: #076bd4;
          a {
            // color: #076bd4;
            font-weight: 700;
          }
        }
        .left-content {
          align-items: center;
          .sender {
            height: auto;
            padding: 0.47rem 0.75rem;
            display: flex;
            align-items: center;
            .mail-from {
              display: inline-block;
              max-width: 180px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              &.mobile {
                max-width: 150px;
              }
            }
            .mail-from-approval {
              display: inline-block;
              max-width: 120px;
            }
          }
        }
        .header-right {
          .size-date {
            min-width: 100px;
            justify-content: space-between;
          }
        }
      }
      .checkbox-wrapper-mail {
        cursor: pointer;
        height: 16px;
        width: 16px;
        position: relative;
        display: inline-block;
        // box-shadow: inset 0 0 0 1px #ced4da;
        border-radius: 1px;

        input {
          opacity: 0;
          cursor: pointer;
        }
      }
      .subject {
        overflow: unset;
        margin-left: 30px;
        position: relative;
        .subject-mail {
          display: inline-block;
          max-width: 90%;
          cursor: pointer;
        }
        .subject-mail.unread {
          font-weight: 700;
          // color: #076bd4;
          a {
            // color: #076bd4;
            font-weight: 700;
          }
        }
        .info {
          position: absolute;
          width: 45px;
          display: flex;
          justify-content: end;
          align-items: center;
          left: -50px;
        }
        .no-width {
          min-width: 0;
        }
      }
      .quick-action-mail {
        position: absolute;
        display: flex;
        right: 8px;
        gap: 6px;
        top: 8px;
        button {
          width: 26px;
          height: 26px;
          padding: 6px;
          border: none;
          &.ai-button {
            width: auto;
            height: 26px;
          }
        }
        background-color: var(--bs-bg-light-grey);
        //.btn:hover {
        //  color: #74788d;
        //  background-color: #ced4da;
        //}
      }
      &:hover {
        // background-color: var(--bs-bg-light-grey);
        // .quick-action-mail {
        //   display: flex;
        //   right: 10px;
        //   gap: 6px;
        // }
        // .size-date {
        //   display: none !important;
        // }
        .mail-from {
          &.mobile {
            max-width: 120px !important;
          }
        }
        // .subject-mail {
        //   max-width: 45%;
        // }
        // .receive-menu {
        //   max-width: 70%;
        // }
        // .resize-width {
        //   max-width: 35% !important;
        // }
      }
    }
    &.loading {
      opacity: 0.5;
      li,
      input,
      label,
      i,
      a,
      div {
        pointer-events: none;
      }
    }
    .unread {
      font-weight: bolder;
    }
    .cancel-sending {
      line-height: 1;
      font-weight: normal;
      background-color: #fa8c16;
      border-radius: 4px;
      padding: 4px;
      text-align: center;
      color: white;
      margin-right: 8px;
      &.large-text {
        min-width: 140px;
      }
      &.complete {
        background-color: #34c38f;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .resize-width {
      max-width: 60% !important;
    }
  }
}
