.modal-dialog.react-draggable.react-draggable-dragging {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.modal-content {
  border-radius: 4px;
}

.modal-header {
  height: 50px;
}

.modal-footer {
  // min-height: 60px;
  height: 50px;
  padding: 0 12px;
  button {
    padding: 6px 12px;
  }
}

.modal-title {
  width: 100%;
}
