:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: var(--bs-info);
  --toastify-color-success: var(--bs-success);
  --toastify-color-warning: var(--bs-warning);
  --toastify-color-error: var(--bs-error);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--bs-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 44px !important;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  //Used only for colored theme
  --toastify-text-color-info: var(--toastify-color-info);
  --toastify-text-color-success: var(--toastify-color-success);
  --toastify-text-color-warning: var(--toastify-color-warning);
  --toastify-text-color-error: var(--bs-error);

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  // Used when no type is provided
  // toast("**hello**")
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  // Used when no type is provided
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  // used to control the opacity of the progress trail
  --toastify-color-progress-bgo: 0.2;
}

$toast-theme: (
  success: "success",
  error: "error",
  info: "info",
);

.Toastify__toast {
  &.Toastify__toast-theme--light {
    @each $type, $value in $toast-theme {
      &.Toastify__toast--#{$type} {
        color: var(--bs-#{$value});
        background-color: var(--bs-#{$value}-lighter);
        align-items: center;
        .Toastify__toast-body {
          height: 100%;
          @if ($type == "error") {
            svg {
              fill: var(--bs-error);
            }
          }
        }
        .Toastify__close-button.Toastify__close-button--light {
          color: var(--bs-#{$value});
          align-self: center;
          line-height: 16px;
        }
      }
    }
  }
}
