.position {
  &-scroll-box {
    max-height: calc(100vh - 200px);
  }
  &-list {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-column-gap: 10px;
  }
  &-item {
    // max-width: 250px;
    max-width: 270px;
    max-height: 225px;
    overflow: hidden;
  }
  &-drag {
    & > div {
      & > div {
        & > p {
          // &:nth-child(2) {
          //   height: 5px;
          // }
          &:last-child {
            max-width: 200px;
            max-height: 100px;
            overflow: hidden;
            & > img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      & > p {
        &:last-child {
          max-width: 240px;
          max-height: 120px;
          overflow: hidden;
          & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &-image {
      max-width: 240px;
      // max-height: 120px;
      overflow: hidden;
      margin: 0 auto;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  .position {
    &-scroll-box {
      max-height: 70vh;
    }
    &-list {
      display: flex;
      flex-direction: column;
    }
    &-item {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }
}
