.spam-tab {
  background: var(--bs-bg-light-grey);
  border-radius: 4px;
  .nav-item {
    padding: 8px 16px;
    font-weight: 500;
    margin-right: 4px;
    &:hover {
      color: var(--bs-primary);
    }
    &.active {
      border: none;
      border-radius: 4px;
      font-weight: 600;
      color: var(--bs-primary);
      background: var(--bs-bg-soft-grey);
      //border-bottom: 2px solid var(--bs-primary);
    }
  }
}

.btn {
  &-form-action-approval {
    display: flex;
    justify-content: center !important;
  }
  &-reload {
    padding: 4px 8px;
    margin-right: 4px;
    & > i {
      margin: 0 !important;
    }
  }
  &-block {
    margin-right: 4px;
  }
}

.btn-reload .btn-search {
  padding: 7px 16px;
}

.btn .icon-action i {
  margin-right: 5px;
}

.modal-footer {
  display: flex;
  justify-content: center !important;
}

.form-select-time {
  display: flex;
}

.select-optionSpam .form-label {
  display: none;
}

.ml-negative-2 {
  margin-left: -8px;
}

.spam-list-helper-conatiner ul {
  margin-bottom: 0;

  li {
    margin-bottom: 4px;
    border-bottom: 1px dotted var(--bs-success-border-subtle);
  }

  li:last-of-type {
    border-bottom: none;
    margin-bottom: 0px;
  }
}
