.folder-icon-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    height: 80%;
  }
}
.folder-list-item {
  height: 30px;
  &__icon {
    color: #fa8c16;
    width: 20px;
    height: 20px;
    svg {
      width: 100%;
    }
  }
  h6 a {
    color: var(--bs-grey);
  }
}
.card.card-folder {
  height: 200px;
  // border: 1px solid var(--bs-border-color) !important;
  border: none !important;
  background-color: var(--bs-bg-soft-grey);
  margin-bottom: 0;
  .media-body {
    margin: 0 !important;
  }
  & a {
    color: var(--bs-text-primary);
  }
}
.folder-list-item {
  height: 30px;
  &__icon {
    color: #fa8c16;
    width: 20px;
    height: 20px;
    svg {
      width: 100%;
    }
  }
  h6 a {
    color: var(--bs-grey);
  }
}
