.main-page {
  // height: calc(100vh - 150px);

  // .main-card {
  //   height: calc(100% - 55px);
  //   .top-content {
  //   }
  // }
}
.list-type {
  .card-wrapper {
    .main-card-mobile.card {
      padding: 0 !important;
    }
  }
}
