.attachment-list {
  max-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}
.attachment {
  position: relative;
  background: var(--bs-bg-soft-grey);
  border: 1px solid var(--bs-bg-soft-grey);
  max-width: 160px;
  min-width: 160px;
  max-height: 45px;
  min-height: 45px;
  border-radius: 4px !important;
  padding: 3px 4px;
  &-info {
    width: 85%;
    overflow: hidden;
  }
  &-size {
    color: var(--bs-text-secondary);
    position: relative;
    .attachment-buttons {
      position: absolute;
      bottom: -4px;
      right: 0;
      display: none;
    }
  }
  &-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 150px;
  }
  &-img {
    width: 34px;
    height: 34px;
    & > a {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
      background-size: cover;
      background-position: center;
    }
  }
  &-icon {
    &-hover {
      &:hover {
        transition: all 0.3s;
        transform: scale(1.2);
      }
    }
  }
  &:hover {
    background: var(--bs-bg-light-grey);
    border-color: var(--bs-bg-light-grey);
    -webkit-box-shadow: inset 0 0 4px #000;
    -moz-box-shadow: inset 0 0 4px #000;
    box-shadow: inset 0 0 3px 0 var(--bs-bg-soft-grey);
    transition: all 0.3s;
    .attachment-buttons {
      display: flex;
      gap: 5px;
    }
  }
  &-divider {
    border-right: 1px solid var(--bs-border-color);
    height: 100%;
    padding-right: 10px;
  }
}
.att-list-item {
  height: 30px;
  .att-icon {
    height: 100%;
    svg {
      height: 100%;
    }
  }
  .att-name {
    &:hover {
      color: var(--bs-primary);
    }
  }
  i {
    &:hover {
      transition: all 0.3s;
      scale: 1.1;
    }
  }
  button {
    width: 30px;
    height: 30px;
  }
}
