.auto-complete-wrapper {
  span {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .auto-complete-item {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
}
