.dropdown-clouddisk-custom {
  margin-top: 0.5rem;
  border-radius: 4px;
  position: absolute;
  padding: 0.5rem;
  min-width: 140px;
  background-color: var(--bs-white);
  box-shadow: 2px 2px 12px -8px var(--bs-black);
  box-shadow: 0px 9px 28px 8px #0000000d, 0px 6px 16px 0px #00000014, 0px 3px 6px -4px #0000001f;
  z-index: 1001;

  .dropdown-item {
    padding: 0.5rem 1rem;
    transition: all 0.25s linear;
    &:hover {
      background-color: var(--bs-bg-soft-grey);
    }
    &.active {
      background-color: var(--bs-primary);
      color: var(--bs-white) !important;
    }
  }
}
