.org-modal-height {
  height: 70vh;
  overflow-y: auto;
}
.org-modal-mobile-height {
  height: 75vh;
}
.org-modal-width {
  max-width: 70vw !important;
}
.mail-modal-organization {
  height: 100%;
  .content-class {
    padding: 0px !important;
    overflow: hidden;
  }
  .tab-header {
    margin-left: -15px;
    margin-right: -15px;
  }
  .nav-line .nav-link {
    padding: 14px 0px;
  }
  .col {
    padding: 0px;
  }
  .nav {
    padding: 0px 15px;
  }
  .nav-line {
    padding: 0;
  }
  .nav-type-item {
    transition: all 0.2s linear;
    & a {
      color: var(--han-text-primary);
      font-weight: 600;
    }
    &.active {
      background-color: var(--bs-primary);
      & a {
        color: white;
      }
    }
  }
  .nav-item {
    flex: 1 1 50%;
    background-color: white;
    & a {
      // color: var(--han-text-primary);
      font-weight: 600;
    }
    &.active {
      & a {
        // color: $white;
        font-weight: 600;
      }
      // background-color: var(--bs-primary);
    }
  }
  .search-form {
    display: flex;
    align-items: stretch;
    margin-bottom: 0.75rem;
  }
  .search-form button {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border: 1px solid #c0ccda;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #8392a5;
  }
  .search-form .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .search-form .form-control:focus,
  .search-form .form-control:active {
    border-color: var(--bs-primary);
    box-shadow: none !important;
  }
  .search-form .form-control:focus + button,
  .search-form .form-control:active + button {
    border-color: #0168fa;
  }
  // .content-tree {
  //   height: 100%;
  //   overflow-y: overlay;
  // }
  .content-email {
    height: 100%;
    //   height: calc(100vh - 261px);
    //   overflow-y: overlay;
  }
  .wrap-content {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
  }
  .org-action-btn {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
  }
  .custom-section-component {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  .mail-modal-organization {
    height: auto;
    .custom-section-component {
      margin-top: 1rem;
      margin-bottom: 0;
    }
    .view-no-data {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
