.ad-dkim-acti {
  border-radius: 4px;
  background: #cdfbea;
  color: #34c38f;
  text-align: center;
}

.ad-dkim-unacti {
  border-radius: 4px;
  background: #fcdada;
  color: #f46a6a;
  text-align: center;
}

.ad-dkim-sta {
  border-radius: 60px;
  background: #34c38f;
  width: 11px;
  height: 11px;
}

.ad-dkim-btn-def {
  background: #eff2f7;
  color: #495057;
  border: 1px solid #eff2f7;
}

.ad-dkim-co-1 {
  border: 1px solid #ced4da;
}

.ad-dkim-co-2 {
  border-bottom: 1px solid #eff2f7;
}
