.clouddisk-tab {
  border: none !important;
  .nav-item {
    cursor: pointer;
    padding: 8px 16px;
    font-weight: 500;
    &:hover {
      color: var(--bs-primary);
    }
    &.active {
      border: none;
      font-weight: 600;
      color: var(--bs-primary);
      border-bottom: 2px solid var(--bs-primary);
    }
  }
}
