.table.related-mail > :not(caption) > * > * {
  padding: .5rem .5rem !important;
  border-bottom: 0 !important;
}

.table.related-mail tr:first-child th:first-child {
  border-top-left-radius: 4px;
}

.table.related-mail tr:first-child th:last-child {
  border-top-right-radius: 4px;
}

.table.related-mail tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.table.related-mail tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}