.tree-folder {
  padding-right: 12px;
  .item-folder {
    border-radius: 0.25rem;
    .form-check-input {
      width: 1.25em;
      height: 1.25em;
      margin: 0px;
    }
  }
  .container-item {
    border-radius: 0.25rem;
    svg {
      width: 18px;
      height: 18px;
      stroke-width: 2.3px;
      color: #566476;
      fill: rgba(27, 46, 75, 0.06) !important;
    }
  }
}
