.list-preview {
  .list-attachment {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    .file-item {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      .file-ex-img {
        width: 50px;
        display: flex;
        align-items: center;
        img {
          width: 50px;
          object-fit: cover;
        }
      }
      .file-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        .file-name {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          max-width: 250px;
        }
      }
    }
  }
  * ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 0.2;
  }

  * ::-webkit-scrollbar-track {
    background: #c0ccda1a;
  }

  * ::-webkit-scrollbar-thumb {
    background-color: #c0ccda !important;
    border: 2px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }

  * ::-webkit-scrollbar-thumb:hover {
    background: #8392a5 !important;
  }

  * .custom-scroll:hover::-webkit-scrollbar {
    opacity: 1;
  }

  * .custom-scroll:hover::-webkit-scrollbar-thumb {
    background: #8392a5;
  }

  * .custom-scroll:hover::-webkit-scrollbar-track {
    background-color: white;
  }
}
