.spam-manager-tab {
  background: var(--bs-bg-light-grey);
  border-radius: 4px;
  .nav-item {
    padding: 8px 16px;
    font-weight: 500;
    margin-right: 4px;
    &:hover {
      color: var(--bs-primary);
    }
    &.active {
      border: none;
      border-radius: 4px;
      font-weight: 600;
      color: var(--bs-primary);
      background: var(--bs-bg-soft-grey);
      //border-bottom: 2px solid var(--bs-primary);
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.flag-box {
  display: flex;
  background-color: #eff2f7;
  border-radius: 16px;
  justify-content: center;
  padding: 0 4px;
}

.vertical-line {
  border: 1px solid #eff2f7;
}

.font-size-13 pre {
  font-size: 13px !important;
}

.drop-subject:hover {
  text-decoration: underline;
}
