$black: #000;
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);

.permit-mail {
  height: 100%;
  display: flex;
  flex-direction: column;

  .email-toolbar {
    .checkbox-wrapper-mail {
      cursor: pointer;
      height: 16px;
      width: 16px;
      position: relative;
      display: inline-block;
      border-radius: 1px;
      &.selectall {
        margin-left: 4px;
      }

      input {
        opacity: 0;
        cursor: pointer;
      }
    }
    .left-toolbar {
      .dropdown-all {
        .btn {
          &.btn-no-active,
          &.btn-no-active:hover,
          &.btn-no-active:active,
          &.btn-no-active:focus-visible {
            border: none;
            background: none;
            box-shadow: none;
          }
        }
      }
    }
    .right-toolbar {
      display: flex;
      align-items: center;
      .btn {
        height: 37px;
        &.btn-refresh,
        &.btn-filter {
          width: 37px;
        }
      }
      .mobile-search-input {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        transition: transform 0.2s linear 0.2s;
        display: flex;
        align-items: center;
        background-color: var(--bs-white);
        &.show {
          transform: translateX(0);
        }
        .form-control {
          border: none;
        }

        .mobile-filter-dropdown {
          & > button {
            border: none;
          }
        }
      }
      .base-button-dropdown {
        button.btn-primary {
          width: auto;
          height: auto;
          color: var(--bs-white);
        }
      }
      button {
        &.dropdown-item {
          width: 100%;
          height: auto;
          &.mobile-filter {
            padding: 0;
            width: 100%;
          }
          .base-button-dropdown {
            width: 100%;
          }
          .btn.dropdown-toggle {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none !important;
          }
          &.btn-reset-filter {
            padding: 12px;
          }
        }
      }
    }
  }

  .permit-mail-wrapper {
    height: calc(100% - 45px);
    overflow-y: auto;
    .permit-mail-list {
      .checkbox-wrapper-mail {
        cursor: pointer;
        height: 16px;
        width: 16px;
        position: relative;
        display: inline-block;
        border-radius: 1px;
        margin-top: -4px !important;
        &.selectall {
          margin-left: 4px;
        }

        input {
          opacity: 0;
          cursor: pointer;
        }
      }
      .permit-item {
        height: 50px;
        padding-left: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
          background: #f6f6f6;
        }

        .mail-sender {
          width: 15%;
          span {
            display: block;
            width: 90%;
          }
        }
        .mail-subject {
          cursor: pointer;
          width: 35%;
          span {
            display: block;
            width: 95%;
          }
        }
        .mail-status {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .mail-date {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &.loading {
        opacity: 0.5;
        li,
        input,
        label,
        i,
        a,
        div {
          pointer-events: none;
        }
      }
    }
  }
}

.modal {
  .permit-modal {
    width: 400px;
  }
}
.approver-info {
  height: 80vh;
  .approver-info-body {
    height: calc(100% - 130px);
    &.hidden-scroll-box {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      overflow-y: auto !important;
    }

    &.hidden-scroll-box::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
  }
}

.checkbox-wrapper-mail {
  cursor: pointer;
  height: 16px;
  width: 16px;
  position: relative;
  display: inline-block;
  border-radius: 1px;
  border: 1px solid #ced4da;
  input {
    opacity: 0;
    cursor: pointer;
  }
}
.card-show-more {
  position: absolute !important;
  top: 100%;
  box-shadow: $box-shadow-lg !important;
  margin-right: 24px;
  margin-bottom: 0 !important;
  padding: 12px;
  transition: opacity 0.2s linear;
  opacity: 0;
  z-index: 1;
  &.active {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .permit-mail {
    .mail-status {
      display: block !important;
      width: 20% !important;
    }
  }
}
