.co-manage-han-icon-file {
  svg {
    width: 30px;
    height: 30px;
  }
  .fa-file-csv {
    color: #099145;
  }
  .fa-file-code {
    color: #6f42c1;
  }
  .fa-file-pdf {
    color: #dc3545;
  }
  .fa-file-word {
    color: #0168fa;
  }
  .fa-file-audio {
    color: #00b8d4;
  }
  .fa-file-excel {
    color: #10b759;
  }
  .fa-file-archive {
    color: #1875ae;
  }
  .fa-file-video {
    color: #f10075;
  }
  .fa-file-alt {
    color: #7987a1;
  }
  .fa-file-image {
    color: #5b47fb;
  }
  .fa-file-powerpoint {
    color: #fd7e14;
  }
  .fa-file {
    color: #7987a1;
  }
}
