
.title-flag{
    border-radius: 16px;
    padding: 0 8px;
    background: #EFF2F7;
    font-size: 13px;
    margin-left: 8px;
}
.title-flag-icon-1{
  color: #0066FF;
}
.title-flag-icon{
    padding-left: 5px ;
    color: #74788D;
}
.title-list-ic div{
  margin: 0 8px;
}
.title-flag-btn .btn{
  background-color: unset !important; 
  border: hidden;
  padding: unset;
}


