.pop3-imap-tab {
  background: var(--bs-bg-light-grey);
  border-radius: 4px;
  .nav-item {
    padding: 8px 16px;
    font-weight: 500;
    margin-right: 4px;
    &:hover {
      color: var(--bs-primary);
    }
    &.active {
      border: none;
      border-radius: 4px;
      font-weight: 600;
      color: var(--bs-primary);
      background: var(--bs-bg-soft-grey);
      //border-bottom: 2px solid var(--bs-primary);
    }
  }
}

.mail-setup-guide {
  .smtp-setup-guide {
    font-weight: 600;
    padding: 8px 16px;
    border-bottom: 2px solid var(--bs-primary);
  }
  .table-setup-guide {
    tr {
      td {
        &:not(:first-child) {
          background-color: var(--bs-white);
        }
      }
    }
  }
}

.form {
  &-radio {
    display: flex;
    align-items: center;
  }
  &-group {
    display: flex;
  }
}

.form-group .form-check {
  margin-right: 16px;
}

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }
  &-2 {
    margin-bottom: 8px !important;
  }
}

.ml-negative-2 {
  margin-left: -8px !important;
}
