.input-search {
  .search-folder {
    border: none;
    background-color: var(--sidebar-search-backgroundColor) !important;
    transition: background 0.3s ease-in-out;
    border-radius: 4px;
    border: 0 !important;
    box-shadow: none;
  }
}
