.common-pagination-wrap {
  .pagination {
    .loading {
      opacity: 0.5;
      li,
      input,
      label,
      i,
      a,
      div {
        pointer-events: none;
      }
    }
    .page-item {
      .page-link {
        margin: 0 4px;
        padding: 0px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.pagination-v2 {
  .page-number {
    height: 32px !important;
    border: 0 !important;
    background: var(--bs-bg-soft-grey);
  }
  .row-per-page {
    font-size: 13px;
    height: 32px !important;
    border: 0 !important;
    background: var(--bs-bg-soft-grey);
    fieldset {
      border: 0 !important;
    }
  }
}
