/* ==============
  Email
===================*/
.email-leftbar {
  width: 236px;
  float: left;
  //padding: 20px;
  border-radius: 5px;
  // max-height: calc(100vh - 225px);
  // height: calc(100vh - 225px);
  overflow-y: auto;

  .email-content {
    margin: 8px;

    .nav-item {
      .menu-dropdown-row {
        border-radius: 4px;

        &:hover {
          background: var(--sidebar-backgroundColor-hover);
        }

        .nav-link {
          border-radius: 4px;
          padding: 8px 6px;

          &.active {
            background: var(--sidebar-backgroundColor-active);
          }

          &.active::after {
            bottom: 0;
            height: 0;
            background: unset;
            transition: unset;
          }
        }

        i {
          margin-right: 6px;
        }
      }
    }
  }
}

.list-type {
  // height: calc(100% - 16px);
  border-radius: 8px;
  height: 100%;

  .card-wrapper {
    .card {
      padding: 8px !important;
      margin-bottom: 0 !important;
      border-radius: 0 !important;
    }
  }
}

.email-rightbar {
  margin-left: 252px;
  height: 100%;

  .card {
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
}

.chat-user-box {
  p.user-title {
    color: var(--#{$prefix}dark);
    font-weight: 500;
  }

  p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%;
  }
  .email-rightbar {
    margin: 0;
  }
}

.mail-list {
  a {
    display: block;
    color: var(--#{$prefix}gray-600);
    line-height: 24px;
    padding: 8px 5px;

    &.active {
      color: $primary;
      font-weight: 500;
    }
  }
}

.message-list {
  display: block;
  padding-left: 0;
  padding-top: 10px;

  li {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: default;
    transition-duration: 0.3s;

    a {
      color: var(--#{$prefix}gray-600);
    }

    &:hover {
      background: var(--#{$prefix}gray-300);
      transition-duration: 0.05s;
    }

    .col-mail {
      float: left;
      position: relative;
    }

    .col-mail-1 {
      width: 22%;
      // .star-toggle,
      // .checkbox-wrapper-mail,
      .base-button-dropdown {
        .unread {
          font-weight: 700;
          // color: $primary-dark;
        }
      }

      .dot {
        display: block;
        float: left;
      }

      .dot {
        border: 4px solid transparent;
        border-radius: 100px;
        margin: 22px 26px 0;
        height: 0;
        width: 0;
        line-height: 0;
        font-size: 0;
      }

      .checkbox-wrapper-mail {
        margin: 17px 10px 0 28px;
      }

      .star-toggle {
        color: var(--bs-body-color);
      }

      .title {
        position: absolute;
        top: 0;
        left: 100px;
        right: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 0;
        margin-right: 15px;
      }
    }

    .col-mail-2 {
      flex: 1;
      max-width: 60%;
      // position: absolute;
      // top: 0;
      // left: 280px;
      // right: 0;
      // bottom: 0;

      // .subject,
      // .date,
      // .size,
      // .quick-action-mail {
      //   position: absolute;
      //   top: 0;
      // }

      // .subject {
      //   left: 0;
      //   right: 230px;
      //   text-overflow: ellipsis;
      //   overflow: hidden;
      //   white-space: nowrap;
      //   cursor: pointer;
      //   .flags {
      //     min-width: 20px;
      //     display: inline-block;
      //   }
      // }
      // .size {
      //   right: 110px;
      //   width: 130px;
      //   padding-left: 0px;
      //   .icon {
      //     width: 15px;
      //     display: inline-block;
      //   }
      // }
      // .date {
      //   right: 35px;
      //   width: 200px;
      //   padding-left: 80px;
      //   text-align: right;
      // }
      // .quick-action-mail {
      //   // right: 35px;
      //   z-index: 10;
      //   right: 0;
      //   transform: translateX(50%);
      //   top: 10px;
      //   display: none;
      //   button {
      //     padding: 7px 10px;
      //     border: none;
      //   }
      // }
    }

    .col-mail-3 {
      max-width: 25%;
    }

    &.active,
    &.active:hover {
      box-shadow: inset 3px 0 0 $primary;
    }

    &.unread {
      font-weight: 700;
      color: var(--#{$prefix}body-color);
      // color: $primary-dark;
      a {
        color: var(--#{$prefix}body-color);
        // color: $primary-dark;
        font-weight: 700;
      }
    }
  }

  .checkbox-wrapper-mail {
    cursor: pointer;
    height: 16px;
    width: 16px;
    // position: relative;
    display: inline-block;
    // box-shadow: inset 0 0 0 1px var(--#{$prefix}gray-400);
    border-radius: 1px;

    &.selectall {
      margin-left: 4px;
    }

    input {
      opacity: 0;
      cursor: pointer;
    }
  }

  &.loading {
    opacity: 0.5;

    li,
    input,
    label,
    i,
    a,
    div {
      pointer-events: none;
    }
  }
}

.mail-toolbar {
  // padding: 12px 24px;
  padding: 12px 0;
  @extend .message-list;
}

@media (max-width: 1000px) {
  .mail-toolbar {
    // padding: 12px 16px;
    padding: 12px 0;
  }
}

@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px;
  }
}
