.attachment-section {
  .attachment-tab {
    .nav-item {
      padding: 8px 16px;
      font-weight: 500;
      &:hover {
        color: var(--bs-primary);
      }
      &.active {
        border: none;
        font-weight: 600;
        color: var(--bs-primary);
        border-bottom: 2px solid var(--bs-primary);
      }
    }
    .size-upload {
      right: 0;
      top: 50%;
      transform: translateY(-30%);
    }
  }
}
