input[type=checkbox].ace, input[type=radio].ace {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

label {
  & input[type=checkbox].ace,
  & input[type=radio].ace {
    z-index: -100 !important;
    width: 0 !important;
    height: 0 !important;
    position: fixed;
  }
}

.radiovisible {
  & + * {
    border: 2px solid #FFF;

    &:hover {
      border: 2px solid $blue-300;
    }
  }

  &:checked + * {
    border: 2px solid $blue;
  }
}