.clouddisk-grid-view {
  // display: grid;
  // grid-template-columns: repeat(3, minmax(100px, 1fr));
  // grid-gap: 10px;
  // padding: 1rem 0;
}
.clouddisk-list-view {
  padding: 1rem 0;
  gap: 0.25rem;
}
