.han-organization-new {
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.folder-tab {
  background: var(--bs-bg-light-grey);
  border-radius: 4px;
  .nav-item {
    padding: 8px 16px;
    font-weight: var(--bs-fw-medium);
    margin-right: 4px;
    &:hover {
      color: var(--bs-primary);
    }
    &.active {
      border: none;
      border-radius: 4px;
      font-weight: 600;
      color: var(--bs-primary);
      background: var(--bs-bg-soft-grey);
      //border-bottom: 2px solid var(--bs-primary);
    }
  }
}

.custom-scroll {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    opacity: 0.2;
  }

  &::-webkit-scrollbar-track {
    background: #c0ccda1a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c0ccda !important;
    border: 2px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #8392a5 !important;
  }

  // &:hover::-webkit-scrollbar {
  //   opacity: 1;
  // }

  // &:hover::-webkit-scrollbar-thumb {
  //   background: #8392a5;
  // }

  // &:hover::-webkit-scrollbar-track {
  //   background-color: white;
  // }
}
.mailbox-item {
  td {
    text-align: center;
    vertical-align: middle;
  }
  .mobile-button-dropdown {
    min-width: 60px;
  }
}
.modal {
  .org-tree-folder {
    // height: 450px;
    height: 70vh;
    .org-tree {
      .content-tree {
        height: calc(100% - 155px);
      }
      .nav-item.active {
        text-align: center;
      }
    }
  }
  .org-list {
    border-width: 1px !important;
    li a span:last-child {
      color: var(--bs-gray-dark);
    }
  }
  .ul.ztree li {
    list-style: none;
  }
  .select-user {
    // height: 450px;
    height: 70vh;
    .select-option {
      height: calc(100% - 55px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .user-info {
      max-width: 80%;
      cursor: pointer;
    }
    .btn-add-user {
      width: 32px;
      height: 31px;
    }
  }
}

.btn {
  &-form-action-approval {
    display: flex;
    justify-content: center !important;
  }
  &-reload {
    padding: 4px 8px;
    margin-right: 4px;
    & > i {
      margin: 0 !important;
    }
  }
  &-block {
    margin-right: 4px;
  }
}

.btn-reload .btn-search {
  padding: 7px 16px;
}

.btn .icon-action i {
  margin-right: 5px;
}

.modal-footer {
  display: flex;
  justify-content: center !important;
}

.form-select-time {
  display: flex;
}

.select-optionSpam .form-label {
  display: none;
}

.ml-negative-2 {
  margin-left: -8px;
}

.custom-accordion {
  .card {
    position: relative;
    .card-border {
      position: absolute;
      height: 100%;
      width: 1px;
      left: 8px;
      background-color: #eff2f7;
    }
  }
  .active-tree-folder span.folder-name {
    background-color: var(--bs-primary);
    color: white;
  }
}
.MuiCollapse-root {
  .base-button-dropdown {
    .dropdown-toggle {
      height: 37px;
      text-align: start;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dropdown-item:hover {
      background-color: white;
    }
    .dropdown-item {
      background-color: white;
      .tree-folder-setting {
        margin-left: -30px;
      }
    }
  }
  .MuiCollapse-wrapper {
    .card.shadow-none {
      padding: 0 !important;
    }
  }
}
