.radio-toolbar {
  label {
    display: inline-block;
    background-color: var(--bs-primary);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    position: relative;
  }
  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    &:checked + label {
      border: none;
      color: var(--bs-white);
    }
  }
}

#radio-title {
  margin-bottom: 5px;
}

.theme-btn {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
}
