.modal-footer {
  display: flex;
  justify-content: center;
}

.form-name {
  margin-left: 15px;
}

.rounded-none-btn-org {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
